{
  "settings": {
    "destination_folder": "destination",
    "db_user": "root",
    "db_password": "",
    "python_uploader": "upload.py",
    "service_account_json": "service-account.json",
    "gdrive_folder_id": "key.json"
  },
  "items": [
    {
      "name": "blogtopia",
      "path": "/var/www/teknovate",
      "files": ["storage", ".env"],
      "db_name": "teka_landing"
    },
    {
      "name": "Teknovate Kasir",
      "path": "/var/www/teknovate",
      "files": ["storage", ".env"],
      "db_name": "laravel"
    },
    {
      "name": "tekibot",
      "path": "/var/www/teknovate",
      "files": [],
      "db_name": "tekibot"
    }
  ]
}