{
  "settings": {
    "destination_folder": "destination",
    "db_user": "root",
    "db_password": "password_anda",
    "rclone_remote": "gdrive",
    "rclone_path": "Backups/Server1"
  },
  "items": [
    {
      "name": "nama_proyek",
      "path": "/var/www/proyek",
      "files": ["storage", ".env"],
      "db_name": "nama_database"
    }
  ]
}